lab1_threads_java/out/
lab1_threads_java/.idea/
lab1_threads_sharp/.vs
lab1_threads_sharp/bin
lab1_threads_sharp/obj

lab2_sync_min_arr_java/out/
lab2_sync_min_arr_java/.idea/
lab2_sync_min_arr_sharp/.vs
lab2_sync_min_arr_sharp/bin
lab2_sync_min_arr_sharp/obj

lab3_semaphore_java/out/
lab3_semaphore_java/.idea/
lab3_semaphore_sharp/.vs
lab3_semaphore_sharp/bin
lab3_semaphore_sharp/obj
